@font-face {
  font-family: "iconfont"; /* Project id 3876673 */
  src: url('iconfont.woff2?t=1676160729920') format('woff2'),
       url('iconfont.woff?t=1676160729920') format('woff'),
       url('iconfont.ttf?t=1676160729920') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-F:before {
  content: "\e600";
}

.icon-rmb:before {
  content: "\e61b";
}

.icon-shizhong:before {
  content: "\e65d";
}

.icon-sousuoxiao:before {
  content: "\e8d6";
}

.icon-jiantouyou:before {
  content: "\e62d";
}

.icon-yuanquan:before {
  content: "\e63e";
}

.icon-yuandian:before {
  content: "\e604";
}

.icon-gongsi:before {
  content: "\e679";
}

.icon-neicunka:before {
  content: "\e6ca";
}

.icon-034renminbi-2:before {
  content: "\e7c5";
}

.icon-gouwuche:before {
  content: "\e607";
}

.icon-icon-xiaomiguishu:before {
  content: "\e613";
}

